# Data Types: Set

# Q1.  Create an empty set. Prompt the user to enter a number between 1-99. Add the numbers in the set. Repeat 5 times.

In [54]:
set1=set()

In [55]:
type(set1)

set

In [56]:
set1= {input('Enter num1: '),
      input('Enter num2: '),
      input('Enter num3: '),
        input('Enter num3: '),
        input('Enter num3: ')}

Enter num1: 55
Enter num2: 65
Enter num3: 88
Enter num3: 90
Enter num3: 23

In [57]:
set1

{'23', '55', '65', '88', '90'}

# or

In [80]:
set0=set()

In [81]:
input('Enter a no: ')

Enter a no: 56

'56'

In [82]:
set0.add(56)

In [84]:
input('Enter a no: ')

Enter a no: 67

'67'

In [85]:
set0.add(67)

In [86]:
input('Enter a no: ')

Enter a no: 77

'77'

In [87]:
set0.add(77)

In [88]:
input('Enter a no: ')

Enter a no: 88

'88'

In [89]:
set0.add(88)

In [90]:
input('Enter a no: ')

Enter a no: 90

'90'

In [91]:
set0.add(90)

In [92]:
set0

{56, 67, 77, 88, 90}

In [93]:
set9=set()

In [100]:
set9.add(56),set9.add(67),set9.add(90),set9.add(56),set9.add(77)

(None, None, None, None, None)

In [101]:
set9

{56, 67, 77, 90}

# Q2. Print the length of the set.

In [58]:
len(set1)

5

# Q3. If the length is less than 5 elements, prompt the user again to enter more numbers.

In [59]:
set1

{'23', '55', '65', '88', '90'}

# Q4. Create another empty set and prompt the user to enter any number between 1-99. Add the numbers in the set. Repeat 5 times.

In [60]:
set2=set()

In [61]:
set2={input('Enter any no: '),
     input('Enter any no: '),
     input('Enter any no: '),
        input('Enter any no: '),
        input('Enter any no: ')}

Enter any no: 45
Enter any no: 67
Enter any no: 89
Enter any no: 34
Enter any no: 22

In [62]:
set2

{'22', '34', '45', '67', '89'}

# Q5.  Check for the following:

# a. Does both the sets have any numbers in common?

In [63]:
set1

{'23', '55', '65', '88', '90'}

In [64]:
set2

{'22', '34', '45', '67', '89'}

In [65]:
set3 = set1.intersection(set2)

In [66]:
set3

set()

# b. Are both sets disjoint?

In [67]:
set1.isdisjoint(set2)

True

In [68]:
set2.isdisjoint(set1)

True

# Q6. From the two sets, get the elements which are unique to each set (only present in either of the set).

In [69]:
set1

{'23', '55', '65', '88', '90'}

In [70]:
set2

{'22', '34', '45', '67', '89'}

In [71]:
set1.union(set2)

{'22', '23', '34', '45', '55', '65', '67', '88', '89', '90'}

# Q7. Create a set containing names of any 10 animals.

In [72]:
set4={'cat','cow','snake','dog','rhino','hippo','buffalo','Tiger','cheetah','fox'}

In [73]:
set4

{'Tiger',
 'buffalo',
 'cat',
 'cheetah',
 'cow',
 'dog',
 'fox',
 'hippo',
 'rhino',
 'snake'}

# Q8. Create an empty set. Prompt the user to enter their favourite animal.

In [74]:
set5=set()

In [75]:
set5=input('Enter your favourite animal: ')

Enter your favourite animal: Lion

In [76]:
set5

'Lion'

# Q9. Does their favourite animal exists in the set created by you?

In [77]:
set4.intersection(set5)

set()

In [78]:
set4

{'Tiger',
 'buffalo',
 'cat',
 'cheetah',
 'cow',
 'dog',
 'fox',
 'hippo',
 'rhino',
 'snake'}

In [79]:
set5

'Lion'