# Data types: Dictionary

# Q. Copy the following code in one cell and run in your Notebook to Enter entries. Enter any 5 random Entries.
 book = {} 
 def info_book(): 
"""Creates a phone book with names as key and a list of dictionaries as values""" 
 while True: 
names = input('Please enter the First and Last name separated by space (or type "exit" to quit): ') 
 if names.lower() == 'exit': 
 break 
 number = input('Please enter the phone number: ') 
 address = input('Please enter your location: ') 
 full_name = " ".join(names.split()) 
 #Check if the full name exists in the phone book 
 if full_name in book: 
 #If the name exists , append the new entry to the existing list of entries 
 book[full_name].append({ 'address' : address, 'number' : number }) 
 else : 
 #If the name does not exist, create a new entry with a list containing the dictionary 
 book[full_name] = [{ 'address' : address, 'number' : number }] 
 return book 
 info_book() 
# The above code returns a dictionary named ‘book’ which has Names as key and number and address as values. Use this to generate random entries of at least 5 people. After entering the data, you can look/access the dictionary by using the variable name ‘book’

In [28]:
book = {} 
def info_book(): 
    """Creates a phone book with names as key and a list of dictionaries as values""" 
    while True: 
        names = input('Please enter the First and Last name separated by space (or type "exit" to quit): ') 
        if names.lower() == 'exit': 
            break 
            
        number = input('Please enter the phone number: ') 
        address = input('Please enter your location: ') 
        
        full_name = " ".join(names.split()) 
        
        # Check if the full name exists in the phone book 
        if full_name in book: 
            # If the name exists , append the new entry to the existing list of entries 
            book[full_name].append({ 'address' : address, 'number' : number }) 
        else : 
            # If the name does not exist, create a new entry with a list containing the dictionary 
            book[full_name] = [{ 'address' : address, 'number' : number }] 
    return book 
info_book()

Please enter the First and Last name separated by space (or type "exit" to quit): Rahul Kumar
Please enter the phone number: 1111111111
Please enter your location: Delhi
Please enter the First and Last name separated by space (or type "exit" to quit): Vikram Kumar
Please enter the phone number: 2222222222
Please enter your location: Rajasthan
Please enter the First and Last name separated by space (or type "exit" to quit): Ravi Kumar
Please enter the phone number: 33333333333
Please enter your location: Haryana Kumar
Please enter the First and Last name separated by space (or type "exit" to quit): Vinod Kumar
Please enter the phone number: 44444444444
Please enter your location: Himachal
Please enter the First and Last name separated by space (or type "exit" to quit): Sohan Kumar
Please enter the phone number: 5555555555
Please enter your location: Telangana
Please enter the First and Last name separated by space (or type "exit" to quit): exit

{'Rahul Kumar': [{'address': 'Delhi', 'number': '1111111111'}],
 'Vikram Kumar': [{'address': 'Rajasthan', 'number': '2222222222'}],
 'Ravi Kumar': [{'address': 'Haryana Kumar', 'number': '33333333333'}],
 'Vinod Kumar': [{'address': 'Himachal', 'number': '44444444444'}],
 'Sohan Kumar': [{'address': 'Telangana', 'number': '5555555555'}]}

In [29]:
book

{'Rahul Kumar': [{'address': 'Delhi', 'number': '1111111111'}],
 'Vikram Kumar': [{'address': 'Rajasthan', 'number': '2222222222'}],
 'Ravi Kumar': [{'address': 'Haryana Kumar', 'number': '33333333333'}],
 'Vinod Kumar': [{'address': 'Himachal', 'number': '44444444444'}],
 'Sohan Kumar': [{'address': 'Telangana', 'number': '5555555555'}]}

# Answer the following with reference to the dictionary formed by the above code.

# Q1. Print all the names in the above dictionary.

In [30]:
print(book.keys())

dict_keys(['Rahul Kumar', 'Vikram Kumar', 'Ravi Kumar', 'Vinod Kumar', 'Sohan Kumar'])

# Q2. Print all the values associated with the names.

In [31]:
print(book.values())

dict_values([[{'address': 'Delhi', 'number': '1111111111'}], [{'address': 'Rajasthan', 'number': '2222222222'}], [{'address': 'Haryana Kumar', 'number': '33333333333'}], [{'address': 'Himachal', 'number': '44444444444'}], [{'address': 'Telangana', 'number': '5555555555'}]])

# Q3. You want to enter one more Name but the number and address are not known yet. Add the new name with no values in the above dictionary.

In [32]:
book['Rani Kumar']= [{'address': None, 'number': None}]

In [33]:
book

{'Rahul Kumar': [{'address': 'Delhi', 'number': '1111111111'}],
 'Vikram Kumar': [{'address': 'Rajasthan', 'number': '2222222222'}],
 'Ravi Kumar': [{'address': 'Haryana Kumar', 'number': '33333333333'}],
 'Vinod Kumar': [{'address': 'Himachal', 'number': '44444444444'}],
 'Sohan Kumar': [{'address': 'Telangana', 'number': '5555555555'}],
 'Rani Kumar': [{'address': None, 'number': None}]}

# Q4. Add a candidate with the name ‘Matt Daemon’ whose number is 555010898 and lives in Pune to the book dictionary.

In [34]:
book['Matt Daemon']=[{'address':'Pune','number':'555010898'}]

In [35]:
book

{'Rahul Kumar': [{'address': 'Delhi', 'number': '1111111111'}],
 'Vikram Kumar': [{'address': 'Rajasthan', 'number': '2222222222'}],
 'Ravi Kumar': [{'address': 'Haryana Kumar', 'number': '33333333333'}],
 'Vinod Kumar': [{'address': 'Himachal', 'number': '44444444444'}],
 'Sohan Kumar': [{'address': 'Telangana', 'number': '5555555555'}],
 'Rani Kumar': [{'address': None, 'number': None}],
 'Matt Daemon': [{'address': 'Pune', 'number': '555010898'}]}

# Q5. Matt Daemon has relocated to New York and his new number is 444333888. Change his number and address in the dictionary.

In [37]:
book['Matt Daemon']=[{'address': 'New York', 'number': '444333888'}]

In [38]:
book

{'Rahul Kumar': [{'address': 'Delhi', 'number': '1111111111'}],
 'Vikram Kumar': [{'address': 'Rajasthan', 'number': '2222222222'}],
 'Ravi Kumar': [{'address': 'Haryana Kumar', 'number': '33333333333'}],
 'Vinod Kumar': [{'address': 'Himachal', 'number': '44444444444'}],
 'Sohan Kumar': [{'address': 'Telangana', 'number': '5555555555'}],
 'Rani Kumar': [{'address': None, 'number': None}],
 'Matt Daemon': [{'address': 'New York', 'number': '444333888'}]}

# Q6. Given below is another information stored in dictionary made by your colleague. Add/Merge these values to you existing book dictionary.
{'Jon Snow': [{'address': 'Sydney', 'number': '500600700'}],
'Thomas Shelby': [{'address': 'Birmingham', 'number': '888000111'}],
 'Alex Botez': [{'address': 'California', 'number': '464555202'}],
 'Vidit Gujarati': [{'address': 'Mumbai', 'number': '7711155530'}],
 'Manasi Joshi': [{'address': 'Delhi', 'number': '8000500023'}]}

In [43]:
book1={'Jon Snow'      : [{'address': 'Sydney', 'number': '500600700'}],
       'Thomas Shelby' : [{'address': 'Birmingham', 'number': '888000111'}],
       'Alex Botez'    : [{'address': 'California', 'number': '464555202'}],
       'Vidit Gujarati': [{'address': 'Mumbai', 'number': '7711155530'}],
       'Manasi Joshi'  : [{'address': 'Delhi', 'number': '8000500023'}]}

In [44]:
book1

{'Jon Snow': [{'address': 'Sydney', 'number': '500600700'}],
 'Thomas Shelby': [{'address': 'Birmingham', 'number': '888000111'}],
 'Alex Botez': [{'address': 'California', 'number': '464555202'}],
 'Vidit Gujarati': [{'address': 'Mumbai', 'number': '7711155530'}],
 'Manasi Joshi': [{'address': 'Delhi', 'number': '8000500023'}]}

In [45]:
book.update(book1)

In [46]:
book

{'Rahul Kumar': [{'address': 'Delhi', 'number': '1111111111'}],
 'Vikram Kumar': [{'address': 'Rajasthan', 'number': '2222222222'}],
 'Ravi Kumar': [{'address': 'Haryana Kumar', 'number': '33333333333'}],
 'Vinod Kumar': [{'address': 'Himachal', 'number': '44444444444'}],
 'Sohan Kumar': [{'address': 'Telangana', 'number': '5555555555'}],
 'Rani Kumar': [{'address': None, 'number': None}],
 'Matt Daemon': [{'address': 'New York', 'number': '444333888'}],
 'Jon Snow': [{'address': 'Sydney', 'number': '500600700'}],
 'Thomas Shelby': [{'address': 'Birmingham', 'number': '888000111'}],
 'Alex Botez': [{'address': 'California', 'number': '464555202'}],
 'Vidit Gujarati': [{'address': 'Mumbai', 'number': '7711155530'}],
 'Manasi Joshi': [{'address': 'Delhi', 'number': '8000500023'}]}

# Q7. Jon Snow has ended membership from your organization. Remove his entry and details from your dictionary.

In [58]:
book

{'Rahul Kumar': [{'address': 'Delhi', 'number': '1111111111'}],
 'Vikram Kumar': [{'address': 'Rajasthan', 'number': '2222222222'}],
 'Ravi Kumar': [{'address': 'Haryana Kumar', 'number': '33333333333'}],
 'Vinod Kumar': [{'address': 'Himachal', 'number': '44444444444'}],
 'Sohan Kumar': [{'address': 'Telangana', 'number': '5555555555'}],
 'Rani Kumar': [{'address': None, 'number': None}],
 'Matt Daemon': [{'address': 'New York', 'number': '444333888'}],
 'Jon Snow': [{'address': 'Sydney', 'number': '500600700'}],
 'Thomas Shelby': [{'address': 'Birmingham', 'number': '888000111'}],
 'Alex Botez': [{'address': 'California', 'number': '464555202'}],
 'Vidit Gujarati': [{'address': 'Mumbai', 'number': '7711155530'}],
 'Manasi Joshi': [{'address': 'Delhi', 'number': '8000500023'}]}

In [59]:
book.pop('Jon Snow')

[{'address': 'Sydney', 'number': '500600700'}]

In [60]:
book

{'Rahul Kumar': [{'address': 'Delhi', 'number': '1111111111'}],
 'Vikram Kumar': [{'address': 'Rajasthan', 'number': '2222222222'}],
 'Ravi Kumar': [{'address': 'Haryana Kumar', 'number': '33333333333'}],
 'Vinod Kumar': [{'address': 'Himachal', 'number': '44444444444'}],
 'Sohan Kumar': [{'address': 'Telangana', 'number': '5555555555'}],
 'Rani Kumar': [{'address': None, 'number': None}],
 'Matt Daemon': [{'address': 'New York', 'number': '444333888'}],
 'Thomas Shelby': [{'address': 'Birmingham', 'number': '888000111'}],
 'Alex Botez': [{'address': 'California', 'number': '464555202'}],
 'Vidit Gujarati': [{'address': 'Mumbai', 'number': '7711155530'}],
 'Manasi Joshi': [{'address': 'Delhi', 'number': '8000500023'}]}

# Q8. Check/Print how many entries you have in your dictionary.

In [61]:
len(book)

11